*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cardImgHeight: 200px;
    --cardImgHeight1: 100px;
    --image-radius: 5px;
    --sideBarRight: 400px;
    --transitionTime: 0.5s all;
    --loaderAnimation: 1s;
    --downloadGreen: #4CAF50;
    --previewBlue: #1976D2;
}
body{
    font-family: 'DM Sans', sans-serif;
    overflow-x: hidden;
}
.sidebar_button{
    position: absolute;
    top: 20px;
    right: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    /* overflow: hidden; */
    transition: var(--transitionTime);
    height: 22px;
    gap: 5px 0;
    margin: 20px 0 0 0;
    z-index: 1;
}
.toggle_line{
    width: 30px;
    height: 2px;
    border-radius: 5px;
    background-color: #979393;
}
.line_one, .line_two, .line_three{
    transition: var(--transitionTime);
    transform: rotate(0deg);
}/* 
.line_two{

    transform: translateX(0);
} */
.sidebar_button.active span{
    transition: var(--transitionTime);
    transform-origin: 0 0;
}
.sidebar_button.active .line_one{
    transform: rotate(45deg) translate(0, -4px);
}
.sidebar_button.active .line_two{
    /* transform: translateX(88px); */
    display: none;
}
.sidebar_button.active .line_three{
    transform: rotate(-46deg) translate(-8px, 8px);
}
.content_sidebar{
    position: absolute;
    transition: 0.5s linear all;
    right: calc(var(--sideBarRight)* -1);
    width: 400px;
    min-height: 100vh;
    padding: 10px;
}
.content_head{
    font-size: 20px;
    font-weight: 700;
    margin: 60px 0 10px;
}
.search_bar{
    margin: 0 0 10px;
}
.wallpaper_keyword_bar{
    width: 100%;
    height: 35px;
    padding: 0 10px;
    color: #757575;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
}
.wallpaper_keyword_bar::placeholder{
    color: #BDBDBD;
}
.wallpaper_keyword_bar:focus-visible{
    outline: none;
    border: 1px solid #9E9E9E;
}
.search_error{
    visibility: hidden;
    font-size: 12px;
    margin: 5px 0 0 5px;
    color: #F44336;
}
.show{
    visibility: visible;
}
.content_sidebar.active{
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.content_sidebar.active .content_head{
    animation: fade_in 1.5s linear 1;
}

@keyframes fade_in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.category_cards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.query_image_card{
    width: 100%;
    height: var(--cardImgHeight);
    border-radius: 7px;
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    transition: 0.3s all;
    /* background-color: #80CBC4; */
}
.query_image_card:hover .photo_details{
    bottom: -40px;
}
.content_sidebar.active .query_image_card{
    animation: fade_in 1.5s linear 1;
}
.query_image{
    font-weight: 500;
    font-size: 14px;
    border-radius: var(--image-radius);
    width: 100%;
    max-height: var(--cardImgHeight);
    object-fit: cover;
    transition: var(--transitionTime);
}
.query_image_card:hover .query_image{
    filter: blur(4px);
}
.photo_details{
    position: absolute;
    display: flex;
    color: #FFFFFF;
    transition: var(--transitionTime);
    gap: 0 10px;
    left: 10px;
    bottom: 10px;
}
.photo_owner{
    font-weight: 400;
    font-size: 11px;
    text-decoration: none;
}
.author_name{
    font-weight: 700;
    font-size: 12px;
    text-transform: capitalize;
}
.credit_owner{
    font-size: 11px;
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
}
.author_profile{
    border-radius: 50%;
}
.image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--image-radius);
    background-color: rgba(0, 0, 0, 0.3);
}
.likes_number{
    pointer-events: none;
    display: flex;
    position: absolute;
    gap: 0 6px;
    top: 10px;
    right: 15px;
    color: #FFFFFF;
}
.image_preview_download{
    width: 100%;
    max-width: 300px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    transition: var(--transitionTime);
}
.query_image_card:hover .image_preview_download{
    bottom: 15px;
}
.sidebar_loader{
    display: none;
    justify-content: center;
    gap: 0 5px;
    margin: 40px 0;
}
.loader_circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000000;
}
.circle_one{
    animation: jump var(--loaderAnimation) linear infinite;
}
.circle_two{
    animation: jump var(--loaderAnimation) linear 0.2s infinite;
}
.circle_three{
    animation: jump var(--loaderAnimation) linear 0.4s infinite;
}
@keyframes jump {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}
.image_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s all;
}
.image_btn:hover{
    transform: scale(1.1);
}
.preview_btn{
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 5px;
    background-color: var(--previewBlue);
    color: #FFFFFF;
}
.preview_btn:hover{
    background-color: #1263B3;
}
.download_btn{
    font-size: 16px;
    padding: 0px 30px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    background-color: var(--downloadGreen);
}
.download_btn:hover{
    background-color: #377E39;
}
.preview_modal_wrap{
    display: none;
    position: fixed;
    transition: 0.3s all;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
}
.preview_modal_wrap.active{
    display: block;
    opacity: 1;
}
.preview_overlay{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}
.preview_modal{
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s all;
    /* width: 1100px; */
    width: 0;
    height: 618px;
    max-height: 618px;
    border-radius: 20px;
    background-color: #1263B3;
}
.preview_modal.active{
    width: 1100px;
}
.preview_loading_copy{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    transform: translateX(-50%);
    font-size: 30px;

}
.preview_image{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.preview_photo_details{
    display: flex;   
    position: absolute;
    left: 40px;
    bottom: 20px;
    gap: 0 10px;
    font-size: 14px;
    color: #FFFFFF;
}
.preview_profile{
    border-radius: 50%;
}
.preview_photo_owner{
    font-size: 14px;
}
.preview_author_name{
    font-weight: 700;
    font-size: 14px;
}
.preview_credit_owner{
    font-size: 14px;
}
.preview_dwnld_btn{
    position: absolute;
    right: 60px;
    bottom: 20px;
    padding: 12px 30px;
}
.preview_close_btn{
    display: flex;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 20px;
    width: 37px;
    height: 37px;
    font-size: 24px;
    border-radius: 50%;
    transition: var(--transitionTime);
    background-color: #FFFFFF;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.12); 
}
.preview_close_btn:hover{
    transform: scale(1.2);
    /* background-color: rgba(255, 255, 255, 0.8); */
}

/* categories */
.category_cards1{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.category_card, .category_image_card{
    position: relative;
    cursor: pointer;
    width: 185px;
    max-height: var(--cardImgHeight1);
    transition: 0.3s all;
}
.category_card:hover{
    transform: scale(1.05);
}
.category_card *{
    user-select: none;
    pointer-events: none;
}
.category_card::after{
content: '';
position: absolute;
top: 0;
height: 100%;
width: 100%;
border-radius: var(--image-radius);
background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), #d3d3d300 50% / cover no-repeat;
pointer-events: none;

}
.category_cover{
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-height: var(--cardImgHeight1);
    border-radius: var(--image-radius);
}
.category_name{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 14px;
    font-weight: 700;
    z-index: 1;
    text-align: center;
    color: #FFFFFF;
}

/* category image cards */
.category_images_cards{
    display: flex;
}
.category_image_card{
    position: relative;
}